pydantic
langchain >= 0.1.13
langchain-community >= 0.0.20
langchain-core
langchain-groq
ipykernel 
python-dotenv 
elasticsearch
streamlit
pandas
pypdf
chromadb
langchain_chroma
langchain_huggingface
sentence_transformers